.Rproj.user
.Rhistory
*.RData
.Ruserdata
*.DS_Store
.DS_Store
*/tmp/*
*.png
*Sunapee_buoydata
Site-specific analysis of PRISM temp and precipitation data.pptx
sunapee precip summary for GLEON bayesian.pptx
5-Cottingham_ESA2017 (final with notes).pptx
GLEON Bayesian update_02NOV18_WB-JB.pptx
GLEON Bayesian update_02NOV18_WB.pptx
GLEON Models 20181217.pptx
GLEON Seasonal Simulation Model 20190102-JB.pptx
Gloeo_BayesModel_Questions-6Dec2018.docx
Gloeo_BayesModel_Questions-6Dec2018_hae.docx
Questions_Outline.docx
GLEON Gloeo Modeling Progress 20190104.pptx
.httr-oauth
